
.clients-list {
    justify-content: center;
    display: flex;   
    flex-wrap: wrap;
    gap: 30px;
}   

.clients-item {
    width: 170px;
    height: 92px;      
    @include mobile {
    width: calc((100% - 30px) / 2);
 } 
    @include tablet {
        width: calc((100% - 90px) / 3);
    }

    @include desktop {
            width: calc((100% - 180px) / 6);
  }

}

.clients-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: #AFB1B8;
    transition-property: background, border, color;
    transition-duration: 250ms, 250ms, 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
    fill: currentColor;
    &:hover,
    &:focus {
        color: #2196F3;
        border: 1px solid #2196F3;
    }
    
}



