.hero {
    padding: 118px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
     rgba(47, 48, 58, 0.4)), url(../img/hero-bg-mob.jpg);
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {            
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../img/hero-bg-mob-2x.jpg);          
        }
    background-color: var(--hero-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
    margin: 0 auto;
    @include tablet {
        width: 768px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../img/hero-bg-tab.jpg);
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../img/hero-bg-tab-2x.jpg);
        }
    }

    @include desktop {
        width: 1200px;
        padding: 200px 0;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../img/hero-bg.jpg);
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url(../img/hero-bg-desk-2x.jpg);
            }
    }
    
&__title {   
    max-width: 360px;
    width: 100%;
    font-weight: 900;
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-title-color);
    line-height: 1.36;
    letter-spacing: 0.06em;
    margin: 0 auto;
    margin-bottom: 30px;  
    line-height: 1.61;    
   
    // @include tablet {
    //     width: 768px;
    // }

    @include desktop {
        max-width: 696px;
        width: 100%;
        font-size: 44px;
    }
         
}

&__btn {
    margin: auto;
    &:hover,
    &:focus {
        background: var(--btn-hover-color);
    }
}
}
